<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <title><%= title%></title>
        <!-- <%include head.ejs %> -->
	</head>
	<body>
        <!-- <%include header.ejs%> -->
        <h1><%= title%></h1>
	</body>
</html>