<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>
		<%= title%>
	</title>
	<% include ../includes/head.ejs %>
</head>

<body>
	<% include ../includes/header.ejs %>
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</body>

</html>